Cartwheel/cartwheel-3d/binaries/*
Cartwheel/cartwheel-3d/controlShots/*
Cartwheel/cartwheel-3d/screenShots/*
Cartwheel/cartwheel-3d/*/Debug
Cartwheel/cartwheel-3d/simbicon.ncb
Cartwheel/cartwheel-3d/simbicon.suo
Cartwheel/cartwheel-3d/*.vcproj.*.user

*.svn
*.vs
*.opensdf
*.sdf
*.*.sw*
__pycache__
*.pyc
*.log
*.tlog

related
Wall
